html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
}

body {
	background: url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMG1hcmtldHxlbnwwfDB8MHx8&auto=format&fit=crop&w=1200&h=1200&q=60');
	background-position: center;
	background-size: cover;
}

button {
	height: 48px;
	padding: 4px 16px;
	border: none;
	border-radius: 8px;
	background-color: lightseagreen;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
}
button:hover {
	background-color: darkslategrey;
}

.container {
	max-width: 720px;
	margin: 0 auto;
	padding: 24px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.16);
	display: flex;
	flex-direction: column;
}

.nav-bar {
	height: 48px;
	margin-bottom: 48px;
	padding: 8px 48px;
	background-color: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}
.nav-container {
	max-width: 720px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-nav-link {
	margin-right: 8px;
	padding: 8px 16px;
	border: none;
	border-radius: 8px;
	background-color: lightseagreen;
	color: white;
	text-decoration: none;
}
.main-nav-link:hover {
	background-color: darkslategrey;
}
.sub-nav-link {
	margin-left: 8px;
	padding: 8px 16px;
	border: none;
	border-radius: 8px;
	background-color: white;
	color: grey;
	text-decoration: none;
}
.sub-nav-link:hover {
	background-color: lightgray;
	color: darkslategrey;
}

form {
	display: flex;
	flex-direction: column;
}
form input {
	height: 48px;
	margin-bottom: 8px;
	padding: 4px 8px;
	border: 1px solid lightgray;
	border-radius: 8px;
	font-size: 1.2rem;
}

.categoryList {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.category {
	height: 24px;
	padding: 4px 4px;
	border: none;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.242);
	color: lightseagreen;
	font-size: 0.8rem;
	cursor: pointer;
}
.category:hover {
	background-color: #eee;
}
